
@{
    ViewBag.Title = "Feedback";
}

<div class="panel panel-default" id="feedbackPanel">
    <div class="panel-heading">
        <p>Welcome to our events organizer application!</p>
        <p>
            This application is in its childhood stage from development. The developers would appreciate user feedback of features that can be added, bugs,
            styling and so forth that can help in this application's development.
            We are gathering user data in order to learn more on how we can develop more programming techniques that are not only usable but also user friendly.
            Feel free to use this application as you and your friends' personal events manager where you can make, send and receive event invitations.
            In addition, you can also share your events to social sites . Right now, we have integrated in facebook sharing but plan to add more.
        </p>
        <p>Enjoy and a big thank you from us!</p>
        <p>  L & L</p>
    </div>
    <div class="panel-body">
        <!-- begin wwww.htmlcommentbox.com -->
        <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
        <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
        <script type="text/javascript" id="hcb"> /*<!--*/ if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = hcb_user.PAGE || ("" + window.location).replace(/'/g, "%27"), h = "//www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%24dssqLCRBTmnycQUEbSeww%2F" + "&opts=16862&num=10&ts=1449234933840"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })(); /*-->*/ </script>
        <!-- end www.htmlcommentbox.com -->
    </div>

</div>
