
@{
    ViewBag.Title = "Index";
}

<div id="index-panel" class="panel panel-default">
    <div class="panel-heading">
        <h2>Something going on?</h2>
        @Html.ActionLink("Create Event", "Create", "Event", new { }, new { @class="btn btn-primary btn-lg" })
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="eventList" class="col-md-3">

            </div>
            <div id="mapView" class="col-md-9">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default">Hosted</button>
                        <button type="button" class="btn btn-default">Invited</button>
                        <button type="button" class="btn btn-default">Public</button>
                    </div>
                }
                <div id="map">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
  <script>
    $(window).load(function () {
      var event1 = new Event();
      event1.brief = "Konstig utställning hos Harry";
      event1.detailed = "Harry bjuder på konstig konst.";
      event1.position = new google.maps.LatLng(60.0320092, 15.5318782);

      var event2 = new Event();
      event2.brief = "Viktors Bar Mitzva";
      event2.detailed = "Mazel tow!";
      event2.position = new google.maps.LatLng(61.0320092, 16.5318782);

      addEvent(document.getElementById('eventList'), event1);
      addEvent(document.getElementById('eventList'), event2);
    });
  </script>
}
