
@{
    ViewBag.Title = "Index";
}

<div id="index-panel" class="panel panel-default">
    <div class="panel-heading">
        <h2>Something going on?</h2>
        @Html.ActionLink("Create Event", "Create", "Event", new { }, new { @class="btn btn-primary btn-lg" })
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="eventList" class="col-md-3">

            </div>
            <div id="mapView" class="col-md-9">
                @if (EventsApp.Controllers.AuthController.IsAuthenticated)
                {
                    <div class="btn-group btn-group-lg">
                        <button type="button" class="btn btn-default">Hosted</button>
                        <button type="button" class="btn btn-default">Invited</button>
                        <button type="button" class="btn btn-default">Public</button>
                    </div>
                }
                <div id="map">

                </div>
            </div>
        </div>
    </div>

</div>
