body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#eventList{
    /*background-color: cadetblue;*/
}

#mapView{
    /*background-color:darkorange;*/
}

#map{
    height:500px;
}

#index-panel {
    border-color: #fff;
    margin-top: 15px;
}

#create-panel {
    margin-top: 15px;
}