@model EventsApp.MVC.ViewModels.HellViewModel
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p>Send this link to anyone you want to invite to your event!</p>
                <p><b>@Model.LinkConfirmViewModel.Link.Event.Brief</b></p>
                @using (Html.BeginForm("Delete", "Link", FormMethod.Post, new { role = "form", name = "delete" }))
                {
                    @Html.HiddenFor(t => t.LinkConfirmViewModel.LinkGUID)
                    <button type="submit" class="btn btn-danger">Delete link</button>
                }
            </div>
        </div>
    </div>
</div>


