@{
    ViewBag.Title = "Index";
}

<div id="index-panel" class="panel panel-default">
    <div class="panel-heading">
        <h3>Something going on?</h3>   

    </div>
    <div class="panel-body">
        <div class="row">
           
            <div id="eventList" class="col-md-3">
                @Html.ActionLink("Create Event", "Create", "Event", new { }, new { @class = "btn btn-block" })
                
            </div>
            <div id="mapView" class="col-md-9">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div id="filterButtons" class="btn-group btn-group-lg">
                        <button id="filterButtonHosted" type="button" class="btn btn-default">Hosted</button>
                        <button id="filterButtonInvited" type="button" class="btn btn-default">Invited</button>
                        <button id="filterButtonPublic" type="button" class="btn btn-default">Public</button>
                        <button id="filterButtonAll" type="button" class="btn btn-default active">All</button>
                    </div>
                }
                <div id="map">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD41720sN_6eizUy9C-_xg9l7CdNrb7iiE&callback=initMap"></script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 59.690815, lng: 15.215400 },
                zoom: 8
            });

            $.ajax({
                url: '@Url.Action("Visible", "Event")',
                method: "POST",
                success: fetchEventSuccess,
                error: fetchEventError
            });

            var eventManager = new EventManager.Manager(document.getElementById('eventList'), map);
            function fetchEventSuccess(data, status) {
                console.log("Successfully fetched event data");
                console.log(data);

                for (var i = 0; i < data.length; i++) {
                    var eventData = data[i];
                    console.log(eventData);

                    var event = new EventManager.Event();
                    event.id = eventData.Id;
                    event.brief = eventData.Brief;
                    event.detailed = eventData.Detailed;
                    event.hostName = eventData.HostName;
                    event.address = eventData.Address;
                    event.position = new google.maps.LatLng(eventData.Latitude, eventData.Longitude);
                    event.startTime = new Date(parseInt(eventData.StartTime.substr(6)));
                    event.visibility = eventData.Visibility;
                    event.userEventRelation = eventData.Relation;

                    eventManager.addEvent(event);
                }

                console.log(eventManager.eventEntries);
            }

            function fetchEventError(xhr, status, exception) {
                console.log("Failed to fetch event data. Error: " + exception + ", Status: " + status);
            }

            $("#filterButtons .btn").click(function () {
                var id = $(this).attr("id");
                console.log(id);

                $("#filterButtons .active").removeClass("active");
                $(this).addClass("active");

                if (id == "filterButtonHosted") {
                    eventManager.showHosted();
                } else if (id == "filterButtonInvited") {
                    eventManager.showInvited();
                } else if (id == "filterButtonPublic") {
                    eventManager.showPublic();
                } else if (id == "filterButtonAll") {
                    eventManager.showAll();
                }
            });
        }
    </script>
}
