
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FDFFE3;
    font-family: 'Open Sans', 'Lucida Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    color: #444;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-default {
    background-color: #D3741C;
}

a {
    color: #444;
    text-decoration: none;
}

    a:hover {
        color: #C6491A;
        background-color: #E6E3BB;
        text-decoration: none;
    }
/*-------------Home page styling------------*/
.create-event-icon {
    color: #00aa00;
}

.create-event-link {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}


/*-------------Navbar-----------------------*/

button.navbar-toggle {
    /*background-color: #C6491A;*/
}

.imgLogin {
    height: 20px;
}


.navbar-brand {
    font-size: 30px;
    line-height: 25px;
    letter-spacing: -2px;
    font-weight: bold;
    color: #444;
    top: 10px;
}

.navbar-fixed-top {
    background-color: #E6E3BB;
}

.navbar-nav > li > a {
    color: #444;
    font-size: 1.2em;
    top: 10px;
    padding-bottom: 3px;
}

    .navbar-nav > li > a:hover {
        /*border-bottom: 2px solid #444;*/
        color: #C6491A;
        background-color: #E6E3BB;
        /*font-size: 20px;*/
    }

#social-login-inline-list > button {
    padding: 0px;
}

    #social-login-inline-list > button > img {
        height: 35px;
    }

.navbar-form.navbar-left {
    padding: 5px 5px;
}

/*------------- Panels -----------------------*/

#index-panel {
    background-color: #E6E3BB;
    border-color: #fff;
    margin-top: 15px;
}

#create-panel {
    margin-top: 15px;
}

#edit-panel {
    margin-top: 15px;
}

#delete-panel {
    margin-top: 15px;
}

.panel-default > .panel-heading {
    background-color: #C6491A;
    color: #E6E3BB;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.btn-block {
    color: #444;
    font-weight: 700;
    font-size: 1.2em;
    text-align: left;
}

a.btn.textlink:hover, a.btn.textlink:focus {
    color: #C6491A;
}

/*-------------User Details------------------------*/
#userDetailsPanel {
    margin-top: 20px;
}

div#dataTable_length.dataTables_length {
    position: relative;
    float: left;
}

div#dataTable_filter.dataTables_filter {
    position: relative;
    float: right;
    bottom: 5px;
}

    div#dataTable_filter.dataTables_filter input {
        margin-left: 20px;
        border-radius: 5px;
    }

a.paginate_button.current {
    visibility: hidden;
}

#acceptBtn {
    margin-left: 20px;
    width: 100px;
}

#declineBtn {
    margin-left: 20px;
    width: 100px;
}


/*------------- Map -----------------------*/


#eventList {
    text-indent: 5px;
}

#mapView {
    /*background-color:darkorange;*/
}

#map {
    height: 500px;
}

#details-info {
    margin-bottom: 5px;
}

#details-map {
    height: 300px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* ------------- Event List Styling ------------- */
.event-list-brief .brief {
    /*font-family: "Courier New";*/
    font-size: 1.1em;
    text-indent: 3px;
    text-transform: uppercase;
    margin-top: 5px;
}

.event-list-brief .hosted-by {
    font-size: 0.7em;
}

.event-list-brief.expanded {
    background-color: #C6491A;
    color: #E6E3BB;
}

.event-list-details {
    background-color: antiquewhite;
    margin-top: 5px;
}

    .event-list-details a.btn {
        background-color: #D3741C;
        border: none;
        color: #FDFFE3;
    }

        .event-list-details a.btn:active {
            background-color: #D3741C;
        }

    .event-list-details .address {
        font-family: "Courier New";
        font-size: 0.7em;
        color: gray;
        margin-top: 5px;
    }

    .event-list-details .datetime {
        font-family: "Courier New";
        font-size: 0.7em;
        font-weight: bolder;
        color: gray;
        margin-top: 5px;
    }

    .event-list-details a {
        margin: 10px 5px 5px;
    }

/* ------------- Details Page Styling ------------- */
.details-page-brief {
    font-size: 2.0em;
}

.details-page-hosted-by {
    font-size: 0.7em;
}

.btn-group-justified > .btn {
    width: 25%;
}

#btnEditSubmit {
    margin-top: 10px;
    width: 200px;
    background-color: #D3741C;
    border: none;
    color: #FDFFE3;
}

/* ------------- Username Autocomplete Styling ------------- */
/* Credits: https://gist.github.com/daz/2168334 */

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-widget-content .ui-state-focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/* ------------- Login Page Styling ------------- */
#loginForm {
    width: 500px;
}

#socialLoginSection.vertical-line {
    border-left: thick solid #ddd;
    height: 150px;
    position: relative;
    right: 170px;
    text-indent: 170px;
}

#socialLoginList {
    width: 100%;
}

#loginBtn {
}


/* ------------- Manage User Styling ------------ */
table.table-no-border > tbody > tr > td {
    border: none;
}

table.table-centered-vertical > tbody > tr > td {
    vertical-align: middle;
}
/* ------------- Manage Account Styling ------------- */
#passInput {
    width: 50%;
}

@media only screen and (max-width: 720px) {
    #passInput {
        width: 100%;
    }
}
