
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FDFFE3;
    font-family: 'Open Sans', 'Lucida Sans','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    color: #444;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*-------------Navbar-----------------------*/

button.navbar-toggle{
    /*background-color: #C6491A;*/
}


.navbar-brand {
    font-size: 30px;
    line-height: 25px;
    letter-spacing: -2px;
    font-weight: bold;
    color: #444;
    top: 10px;
}

.navbar-fixed-top {
    background-color: #E6E3BB;
}

.navbar-nav > li > a {
    color: #444;
    font-size: 1.2em;
    top: 10px;
    padding-bottom: 3px;
}

    .navbar-nav > li > a:hover {
        /*border-bottom: 2px solid #444;*/
        color: #C6491A;
        background-color: #E6E3BB;
        /*font-size: 20px;*/
}

/*------------- Index Panel-----------------------*/

#index-panel {
    background-color: #E6E3BB;
    border-color: #fff;
    margin-top: 15px;
}

#create-panel {
    margin-top: 15px;
}

.panel-default > .panel-heading {
    background-color: #C6491A;
    color: #E6E3BB;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.btn-block {
    color: #444;
    font-weight: 700;
    font-size: 1.2em;
    text-align: left;
}

a.btn:hover, a.btn:focus {
    color: #C6491A;
}


/*------------- Map -----------------------*/


#eventList {
    /*background-color: cadetblue;*/
}

#mapView {
    /*background-color:darkorange;*/
}

#map {
    height: 500px;
}