@model EventsApp.MVC.ViewModels.HellViewModel
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p>You are already invited to this event.</p>
                <p><b>@Model.ConfirmViewModel.Link.Event.Brief</b></p>
            </div>
        </div>
    </div>
</div>


